@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
}

button.button-blue {
  background-color: rgba(130, 179, 211, 1);
}

button.button-green {
  background-color: rgba(125, 181, 79, 1);
}

a.button {
  color: rgba(255, 255, 255, 1);
}

/* ОФормление страниц */
.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

/* Шапка главной страницы*/
.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 140px;
  margin-right: 30px;

}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  width: 465px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 315px;
  margin-left: auto;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
}

.navigation-button a {
  font-size: 16px;
  line-height: 20px;
}

/* Основной контент */
.main-container {
  flex-grow: 1;
}

/* Блок хиро */
.hero {
  padding-top: 51px;
  padding-bottom: 82px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/block_hero/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

/* Блок преимуществ */
.advantages-header {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

h3.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-header .advantages-description {
  margin: 0;
}

header .advantages-title,
header .service-title,
.hotel-search-title,
.subscribe-title,
.subscribe-inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

header .advantages-description,
header .service-description,
.hotel-search-description,
.subscribe-description,
.subscribe-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list,
.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-title,
.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

 .advantages-item {

  display: flex;
  align-items: center;
  width: 400px;
  min-height: 385px;
}

.advantages-item:first-child,
.advantages-item:last-child {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 1200px;
}

.advantages-item:nth-child(3) {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.2);
}

.advantages-item-text,
.service-item-text {
  margin: 0 auto;
}

.advantages-item-text .advantages-title {
  margin-bottom: 62px;
}

.advantages-item-text .advantages-description {
  margin: 0;
}

.advantages-image {
  vertical-align: middle;
}

/* Блок сервиса */
.service-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

h3.service-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.service-header .service-description {
  margin: 0;
}

.service-item {
  display: flex;
  align-items: center;
  width: 400px;
  min-height: 385px;
}

.service-item-text {
  margin-top: 102px;
}

.service-item-text .service-title {
  margin-bottom: 30px;
}

.service-item-text .service-description {
  margin: 0;
}

.service-item:nth-child(odd) {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

/* Блок поиска гостиницы */
.hotel-search {
  text-align: center;
  padding-bottom: 96px;
  padding-top: 96px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin: 0;
}

.hotel-search .button-big {
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
}

/* Блок подписки */
.subscribe {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  min-height: 52px;
  width: 684px;
}

.subscribe-input {
  flex-grow: 1;
}

.subscribe-button {
  min-width: 232px;
}


/* Подвал */
.page-footer-container {
  display: flex;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  align-items: center;
}

.footer-social {
  width: 142px;
  margin-right: 237px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-list .button,
a.button.button-compact,
a.button.button-full,
a.button.button-list {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.footer-contacts-phone {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.footer-logo {
  margin-left: auto;
  max-width: 115px;
}

/*Оформление внутренних странниц*/

.index-columns {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/catalog_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

/* Шапка внутренней страницы */
.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

/* Фильтры */
.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-group {
  display: flex;
  align-items: flex-start;
  width: 150px;
  margin-right: 70px;
}

.catalog-filter-group-price {
  width: 288px;
}

.catalof-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  line-height: 23px;
}

.catalog-filter-wrapper-button {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-left: 70px;
  margin-right: 70px;
  justify-content: space-evenly;

}

.sorting-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

/* Карточки гостиниц */
.hotel-list {
  display: flex;
  flex-wrap: wrap;
  min-width: 340px;
  justify-content: space-between;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.hotel-card-ratings {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  width: 140px;
  height: 37px;
}

/* Пагинация */
.pagination {
  display: flex;
  min-width: 400px;
  justify-content: flex-start;
  list-style: none;
}

.pagination-item {
  width: 60px;
  min-height: 60px;
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-item span {
  font-size: 22px;
  line-height: 26px;
}

/* Блок подписки */
.subscribe-inner {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
}

.subscribe-inner-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-inner-description {
  margin-top: 0;
  margin-bottom: 54px;
}
