@font-face {
  font-family: "PT Sans";
  src: url("ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
}

button.button-blue {
  background-color: rgba(130, 179, 211, 1);
}

button.button-green {
  background-color: rgba(125, 181, 79, 1);
}

a.button {
  color: rgba(255, 255, 255, 1);
}

.wrapper-content {
  background-color: rgba(255, 255, 255, 1);
  width: 1200px;
}

.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.navigation-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.navigation-button a {
  font-size: 16px;
  line-height: 20px;
}

.hero {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/block_hero/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

header .advantages-title,
header .service-title,
.hotel-search-title,
.subcribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

header .advantages-description,
header .service-description,
.hotel-search-description,
.subcribe-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list,
.service-list {
  text-align: center;
}

.advantages-title,
.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item:first-child,
.advantages-item:last-child {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
}

.advantages-item:nth-child(3) {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.2);
}

.service-item:nth-child(odd) {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.subcribe {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.footer-contacts-phone {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

/*Оформление внутренних странниц*/

.index-columns {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/catalog_header.jpg);
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.catalof-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  line-height: 23px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
}

.hotel-card-ratings {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  width: 140px;
  height: 37px;
}
