@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  border: none;
  cursor: pointer;
}

button.button-blue {
  background-color: rgba(130, 179, 211, 1);
}

button.button-green {
  background-color: rgba(125, 181, 79, 1);
}

a.button {
  color: rgba(255, 255, 255, 1);
}

/* ОФормление страниц */
.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

/* Шапка главной страницы*/
.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;

  position: relative;
}

.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 140px;

  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 170px;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 315px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  height: 20px;
}

.navigation-item .heart {
  position: relative;
}

.heart::after {
  content: "12";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  position: absolute;
  top: 11px;
  left: 20px;
}

.navigation-button .navigation-link {
  font-size: 16px;
  line-height: 20px;

  margin-left: 20px;
  padding: 8px 34px;
  border-radius: 4px;
}

/* Основной контент */
.main-container {
  flex-grow: 1;
}

/* Блок хиро */
.hero {
  padding-top: 51px;
  /* padding-bottom: 82px; */
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/block_hero/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.hero::after {
  content: "";
  display: block;
  background-image: url("../images/block_hero/stairs.svg");
  height: 57px;
  background-repeat: no-repeat;
  margin-top: 25px;

}

/* Блок преимуществ */
.advantages-header {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

h3.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-header .advantages-description {
  margin: 0;
}

header .advantages-title,
header .service-title,
.hotel-search-title,
.subscribe-title,
.subscribe-inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

header .advantages-description,
header .service-description,
.hotel-search-description,
.subscribe-description,
.subscribe-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list,
.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  align-items: center;
  width: 400px;
  min-height: 385px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-bridge,
.advantages-town {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 1200px;
}

.advantages-item-text,
.service-item-text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 230px;
}

.advantages-title,
.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text .advantages-title {
  margin-bottom: 30px;
  order: 1;
}

.advantages-item-text::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 2;
  box-sizing: border-box;
  width: 60px;
  height: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-bridge .advantages-item-text::after,
.advantages-town .advantages-item-text::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 2;
  box-sizing: border-box;
  width: 60px;
  height: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-item-text .advantages-description {
  margin: 0;
  order: 3;
}

.advantages-image {
  vertical-align: middle;
}

.advantages-road {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.2);
}


/* Блок сервиса */
.service-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

h3.service-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.service-header .service-description {
  margin: 0;
}

.service-item {
  display: flex;
  align-items: center;
  width: 400px;
  min-height: 385px;
}

.service-item-text {
  margin-top: 102px;
}

.service-item-text .service-title {
  margin-bottom: 30px;
}

.service-item-text .service-description {
  margin: 0;
}

.service-item:nth-child(odd) {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

/* Блок поиска гостиницы */
.hotel-search {
  text-align: center;
  padding-bottom: 96px;
  padding-top: 96px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin: 0;
}

.hotel-search .button-big {
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
}

/* Блок подписки */
.subscribe {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  min-height: 52px;
  width: 684px;
}

.subscribe-input {
  flex-grow: 1;
}

.subscribe-button {
  min-width: 232px;
}


/* Подвал */
.page-footer-container {
  display: flex;
  width: 1060px;
  min-height: 120px;
  margin: 0 auto;
  align-items: center;
}

.footer-social {
  width: 142px;
  margin-right: 237px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  width: 47px;
  height: 40px;
}

.footer-social-list .button,
a.button.button-compact,
a.button.button-full,
a.button.button-list {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.footer-contacts-phone {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
}

.footer-logo {
  margin-left: auto;
  max-width: 115px;
}

/*Оформление внутренних странниц*/

.index-columns {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/catalog_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 70px;
}

/* Шапка внутренней страницы */
.inner-header {
  margin-left: 70px;
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  margin-right: 28px;
}

/* Фильтры */
.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-group {
  display: flex;
  align-items: flex-start;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-group-price {
  width: 288px;
  margin-left: 140px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  line-height: 23px;
}

.catalog-filter-wrapper-button {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 32px;
}

.catalog-filter-wrapper-button .button-blue {
  margin-bottom: 32px;
  min-height: 36px;
}

.catalog-filter-wrapper-button .button {
  min-height: 36px;
}

/* Сортировка */

.sorting-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  margin: 0;
}

.sorting-select {
  margin-left: 200px;
}

.sorting-buttons {
  display: flex;
  margin-left: auto;
  width: 160px;
}

.sorting-container .button {
  width: 48px;
  height: 48px;
  margin-right: 8px;
}

.sorting-container .button:last-child {
  margin-right: 0;
}

/* Карточки гостиниц */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 20px;
  margin: 0 70px 80px;
  padding: 0;
  list-style-type: none;
}

.hotel-item {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  text-align: center;
  text-decoration: none;
}

.hotel-card-image {
  vertical-align: middle;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  margin: 16px 0;
  text-align: left;
}

.hotel-card-description {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-card-description p {
  margin: 0;
  min-height: 37px;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-description .hotel-card-name,
.hotel-card-description .hotel-card-price {
  min-height: 21px;
}

.hotel-card-description .hotel-card-button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
}

.hotel-card-ratings {
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

/* Пагинация */
.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  display: block;
  box-sizing: border-box;
  width: 60px;
  height: 60px;
  padding: 11px 11px;
  text-align: center;
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-multipoint {
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

/* Блок подписки */
.subscribe-inner {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-inner-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-inner-description {
  margin-top: 0;
  margin-bottom: 54px;
}
