@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Кнопки */
.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(117, 97, 87, 1);
  text-decoration: none;
  text-transform: uppercase;
  padding: 0;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.button:hover {
  background-color: rgba(97, 80, 72, 1);
}

.button:focus {
  background-color: rgba(97, 80, 72, 1);
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(117, 97, 87, 1);
}

.button.button-blue {
  background-color: rgba(130, 179, 211, 1);
}

.button.button-blue:hover {
  background-color: rgba(104, 162, 202, 1);
}

.button.button-blue:focus {
  background-color: rgba(104, 162, 202, 1);
}

.button.button-blue:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.button.button-green {
  background-color: rgba(125, 181, 79, 1);
}

.button.button-green:hover {
  background-color: rgba(108, 158, 66, 1);
}

.button.button-green:focus {
  background-color: rgba(108, 158, 66, 1);
}

.button.button-green:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(125, 181, 79, 1);
}

a.button {
  color: rgba(255, 255, 255, 1);
}

/* ОФормление страниц */
.wrapper-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 1200px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 1);
}

/* Шапка главной страницы*/
.page-header {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.navigation {
  display: flex;
  width: 1060px;
  margin: 0 auto;

  position: relative;
}

.navigation-logo {
  display: flex;
  align-items: center;
  width: 140px;

  position: absolute;
  top: 0;
  left: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: 170px;
  padding: 0;
  list-style-type: none;
}


.navigation-link {
  display: block;
  padding: 20px 16px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-align: center;
  color: rgba(0, 0, 0, 1);

  position: relative;
}

.navigation-link-current::before {
  content: "";

  position: absolute;
  right: 16px;
  left: 16px;
  bottom: -2px;
  border: 2px solid rgba(117, 98, 87, 1);
}

.navigation-user {
  max-width: 315px;
  margin-left: auto;
  justify-content: center;
  align-items: center;
}

.navigation-user .navigation-link {
  min-width: 20px;
  min-height: 20px;
  padding: 22px 12px;
  /* height: 20px; */
}

.navigation-item .heart {
  position: relative;
}

.heart::after {
  content: "12";
  font-weight: 400;
  font-size: 10px;
  line-height: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(125, 181, 79, 1);

  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 10px;

  position: absolute;
  top: 11px;
  left: 20px;
}

.navigation-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.navigation-item.navigation-button {
  margin-left: 20px;
}

.navigation-button .navigation-link {
  font-size: 16px;
  line-height: 20px;

  padding: 8px 34px;
}

/* Основной контент */
.main-container {
  flex-grow: 1;
}

/* Блок хиро */
.hero {
  padding-top: 51px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  background-image: url("../images/block_hero/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.hero::after {
  content: "";
  display: block;
  background-image: url("../images/block_hero/stairs.svg");
  height: 57px;
  background-repeat: no-repeat;
  margin-top: 25px;
}

/* Блок преимуществ */
.advantages-header {
  padding-top: 69px;
  padding-bottom: 69px;
  margin-bottom: 21px;
}

h3.advantages-title {
  margin-top: 0;
  margin-bottom: 25px;
}

.advantages-header .advantages-description {
  margin: 0;
}

header .advantages-title,
header .service-title,
.hotel-search-title,
.subscribe-title,
.subscribe-inner-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

header .advantages-description,
header .service-description,
.hotel-search-description,
.subscribe-description,
.subscribe-inner-description {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list,
.service-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  text-align: center;
  list-style-type: none;
}

.advantages-item {
  display: flex;
  align-items: center;
  width: 400px;
  min-height: 385px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-bridge,
.advantages-town {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  width: 1200px;
}

.advantages-item-text,
.service-item-text {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 230px;
}

.advantages-title,
.service-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-text .advantages-title {
  margin-bottom: 30px;
  order: 1;
}

.advantages-item-text::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 2;
  box-sizing: border-box;
  width: 60px;
  height: 2px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

.advantages-bridge .advantages-item-text::after,
.advantages-town .advantages-item-text::after {
  content: "";
  display: flex;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 2;
  box-sizing: border-box;
  width: 60px;
  height: 2px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}

.advantages-item-text .advantages-description {
  margin: 0;
  order: 3;
}

.advantages-image {
  vertical-align: middle;
}

.advantages-road {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.2);
}


/* Блок сервиса */
.service-header {
  padding-top: 64px;
  padding-bottom: 64px;
}

h3.service-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.service-header .service-description {
  margin: 0;
}

.service-item {
  display: flex;
  align-items: center;
  width: 400px;
  min-height: 385px;
}

.service-item-text.house::after {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 1;

  background-image: url("../images/service_icons/icon_house.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.service-item-text.food::after {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 1;

  background-image: url("../images/service_icons/icon_food.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.service-item-text.souvenirs::after {
  content: "";
  display: block;
  width: 75px;
  height: 72px;
  margin: 0 auto;
  margin-bottom: 30px;
  order: 1;

  background-image: url("../images/service_icons/icon_souvenirs.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.service-item-text .service-title {
  margin-bottom: 30px;
  order: 2;
}

.service-item-text .service-description {
  margin: 0;
  order: 3;
}

.service-item:nth-child(odd) {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(131, 179, 211, 0.12);
}

/* Блок поиска гостиницы */
.hotel-search {
  text-align: center;
  padding-bottom: 96px;
  padding-top: 96px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
}

.hotel-search-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.hotel-search-description {
  margin: 0;
}

.hotel-search .button-big {
  display: inline-block;
  margin-top: 54px;
  padding: 8px 50px;
}


/* Блок подписки */
.subscribe {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/subscribe.jpg);
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description {
  margin-top: 0;
  margin-bottom: 54px;
}

.subscribe-form {
  display: flex;
  margin: 0 auto;
  min-height: 52px;
  width: 684px;
}

.subscribe-input {
  flex-grow: 1;
  box-sizing: border-box;
}

.subscribe-form .button {
  min-width: 232px;
}


/* Подвал */
.page-footer-container {
  display: flex;
  width: 1060px;
  min-height: 50px;
  margin: 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  align-items: center;
  justify-content: center;
}

.footer-social {
  width: 142px;
  margin-right: 237px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-link {
  display: block;
  width: 47px;
  height: 40px;
  text-decoration: none;

  position: relative;
}

.footer-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(131, 179, 211, 1);
}

.footer-social-link:active .footer-icon {
  fill: rgba(104, 162, 202, 0.3);
}

.footer-contacts-phone {
  color: rgba(0, 0, 0, 1);
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  font-style: normal;
}

.footer-contacts-phone:hover {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-phone:focus {
  color: rgba(117, 97, 87, 1);
}

.footer-contacts-phone:active {
  color: rgba(117, 97, 87, 0.3);
}


.footer-logo {
  margin-left: auto;
  width: 115px;
}

.footer-logo-link {
  display: block;
  width: 115px;
  height: 34px;
  text-decoration: none;

  position: relative;
}

.footer-logo-link-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: rgba(0, 0, 0, 1);
}

.footer-logo-link-icon:hover {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-link-icon:focus {
  fill: rgba(117, 97, 87, 1);
}

.footer-logo-link-icon:active {
  fill: rgba(117, 97, 87, 0.3);
}

/*Оформление внутренних странниц*/

.index-columns {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 0, 0, 1);
  background-image: url(../images/catalog_header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 35px;
  padding-bottom: 70px;
}

/* Шапка внутренней страницы */
.inner-header {
  margin-left: 70px;
  margin-bottom: 40px;
}

.inner-header-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  align-items: center;
  width: 1060px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-item {
  display: flex;
  justify-content: center;
}

.breadcrumbs-item:not(:last-of-type):after {
  content: "";
  display: flex;
  width: 8px;
  height: 21px;
  margin: 0 10px;


  background-image: url("../images/breadcrumbs_icons/breadcrumbs_icon_arrow.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.breadcrumbs-link {
  font-size: 16px;
  text-decoration: none;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  cursor: pointer;
}

.breadcrumbs-link:hover {
  color: rgba(255, 255, 255, 0.6);
}

.breadcrumbs-link:focus {
  color: rgba(255, 255, 255, 1);
}

.breadcrumbs-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.breadcrumbs-link-icon::after {
  content: "";
  display: flex;
  width: 13px;
  height: 21px;
  margin: 0 auto;

  background-image: url("../images/breadcrumbs_icons/breadcrumbs_icon_home.svg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Фильтры */
.catalog-filter {
  display: flex;
  width: 1060px;
  margin: 0 auto;
}

.catalog-filter-group {
  display: flex;
  align-items: flex-start;
  width: 150px;
  margin: 0;
  padding: 0;
  margin-right: 70px;
  border: none;
}

.catalog-filter-group-price {
  width: 288px;
  margin-left: 140px;
}

.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  padding: 0;
  margin-bottom: 32px;
}

.catalog-filter-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.catalog-filter-item {
  margin-bottom: 16px;
}

.catalog-filter-item:last-child {
  margin-bottom: 0;
}

.control {
  line-height: 23px;
}

.control:hover {
  opacity: 0.6;
}

.control .conrol-input:focus {
  border: 3px solid rgba(131, 179, 211, 1);
  border-radius: 4px;
  outline: none;
}

.control:active {
  border: none;
  outline: none;
  opacity: 0.3;
}

.catalog-filter-wrapper-button {
  display: flex;
  flex-direction: column;
  width: 190px;
  margin-top: 32px;
}

/* .catalog-filter-item .control-input:hover {
  background-color: rgba(230, 230, 230, 1);
}

.catalog-filter-item:first-of-type .conrol-input:focus {
  background: #E6E6E6;
  border: 3px solid #83B3D3;
  border-radius: 4px 0px 0px 4px;
} */

.catalog-filter-wrapper-button .button {
  min-height: 36px;
}

.catalog-filter-wrapper-button .button-blue {
  margin-bottom: 32px;
}

.catalog-filter-wrapper-button .button-background {
  background-color: rgba(0, 0, 0, 0.3);
}

.catalog-filter-wrapper-button .button-background:hover {
  opacity: 0.6;
}

.catalog-filter-wrapper-button .button-background:focus {
  border: 3px solid rgba(131, 179, 211, 1);
}

.catalog-filter-wrapper-button .button-background:active {
  opacity: 0.3;
}

/* Сортировка */

.sorting-container {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 40px;
}

.sorting-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  margin-right: auto;
  margin: 0;
}

.sorting-select {
  margin-left: 200px;
}

.sorting-view {
  display: flex;
  margin-left: auto;
  width: 160px;
}

.sorting-view .card-grid-toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  border: 2px solid rgba(229, 229, 229, 1);
  border-radius: 4px;
  width: 48px;
  height: 48px;
  margin-right: 8px;
  background-color: rgba(255, 255, 255, 1);

  position: relative;
}

.card-grid-toggle-icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.sorting-view .card-grid-toggle:last-child {
  margin-right: 0;
}

.sorting-view .card-grid-toggle-current {
  border: 2px solid rgba(0, 0, 0, 1);
}

.sorting-view .card-grid-toggle:hover {
  border: 2px solid rgba(0, 0, 0, 1);
}

.sorting-view .card-grid-toggle:focus {
  border: 2px solid rgba(104, 162, 202, 1);
  outline: none;
}

.sorting-view .card-grid-toggle:active {
  border: 2px solid rgba(0, 0, 0, 1);
}

/* Карточки гостиниц */
.hotel-list {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  gap: 20px;
  margin: 0 70px 80px;
  padding: 0;
  list-style-type: none;

  position: relative;
}

.hotel-list::after {
  content: "";

  position: absolute;
  right: 0;
  left: 0;
  bottom: -40px;
  border: 1px solid rgba(230, 230, 230, 1);

}

.hotel-item {
  box-sizing: border-box;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
}

.hotel-card-link {
  text-align: center;
  text-decoration: none;
}

.hotel-card-image {
  vertical-align: middle;
  object-fit: contain;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: rgba(0, 0, 0, 1);
  margin: 16px 0;
  text-align: left;
}

.hotel-card-description {
  display: grid;
  grid-template-columns: repeat(2, 140px);
  column-gap: 20px;
  row-gap: 16px;
}

.hotel-card-description p {
  margin: 0;
  min-height: 37px;
}

.hotel-card-price {
  text-align: end;
}

.hotel-card-description .hotel-card-name,
.hotel-card-description .hotel-card-price {
  min-height: 21px;
}

.hotel-card-description .hotel-card-button-more {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 36px;
}

p.stars {
  display: flex;
  align-items: center;
  margin: 0;
}

p.star-4::after {
  content: "";
  display: block;
  width: 96px;
  height: 17px;

  background-image: url("../images/ratings_icon_star.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
}

p.star-3::after {
  content: "";
  display: block;
  width: 72px;
  height: 17px;

  background-image: url("../images/ratings_icon_star.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
}

p.star-2::after {
  content: "";
  display: block;
  width: 48px;
  height: 17px;

  background-image: url("../images/ratings_icon_star.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
}

p.star-1::after {
  content: "";
  display: block;
  width: 24px;
  height: 17px;

  background-image: url("../images/ratings_icon_star.svg");
  background-size: 24px 17px;
  background-repeat: repeat-x;
}


.hotel-card-ratings {
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

/* Пагинация */
.pagination {
  display: flex;
  width: 1060px;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
  padding: 0;
  list-style-type: none;
}

.pagination-item {
  margin-right: 8px;
}

.pagination-item:last-child {
  margin-right: 0;
}

.pagination-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(130, 179, 211, 1);
  display: block;
  box-sizing: border-box;
  border-radius: 4px;
  width: 60px;
  height: 60px;
  padding: 11px 11px;
  text-align: center;
}

.pagination-link:hover {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
}

.pagination-link:focus {
  background-color: rgba(104, 162, 202, 1);
  border: 1px solid rgba(130, 179, 211, 1);
  outline: none;
}

.pagination-link:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: rgba(130, 179, 211, 1);
}

.pagination-current {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
}

.pagination-current:hover,
.pagination-current:focus,
.pagination-current:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(242, 242, 242, 1);
  border: none;
  outline: none;
}

.pagination-multipoint {
  font-size: 22px;
  line-height: 26px;
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
}

.pagination-multipoint:hover,
.pagination-multipoint:focus,
.pagination-multipoint:active {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

/* Блок подписки */
.subscribe-inner {
  color: rgba(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 1);
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-inner-title {
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-inner-description {
  margin-top: 0;
  margin-bottom: 54px;
}
